
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <form method="get">
        <label for="sort_by">Sort by:</label>
        <select name="sort_by" id="sort_by">
          <option value="posted_at" {% if request.GET.sort_by == 'posted_at' %}selected{% endif %}>入荷日</option>
          <option value="title" {% if request.GET.sort_by == 'title' %}selected{% endif %}>商品名</option>
          <option value="category" {% if request.GET.sort_by == 'category' %}selected{% endif %}>カテゴリ</option>
          <option value="price" {% if request.GET.sort_by == 'price' %}selected{% endif %}>値段</option>
        </select>

        <label for="order">Order:</label>
        <select name="order" id="order">
            <option value="asc" {% if request.GET.order == 'asc' %}selected{% endif %}>昇順</option>
            <option value="desc" {% if request.GET.order == 'desc' %}selected{% endif %}>降順</option>
        </select>

        <button type="submit">Sort</button>
      </form>
      <hr>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols- g-3">
        {% for record in object_list %}
        <div class="col">
          <div class="card shadow-sm">
            <a href='{% url "thrift:product_detail" record.pk %}'><img src="{{ record.image1.url }}" class="bd-placeholder-img card-img-top" width="75%" height="75%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#55595c"/></a>
            <div class="card-body">
              <h5 class="card-title">{{ record.title }}</h5>
              <p class="card-text" style="font-size:large; font-weight:bold; color:red;">￥{{ record.price }}円</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary">{{ record.category }}</small>
                <small class="text-body-secondary">{{ record.posted_at }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>